:root{
    --main-color: #F2F1F1;
    --secondary-color: #FFFFFF;
    --complementary-1: #7441BA;
    --complementary-2: #6C6C6C;
    --complementary-3: #c9c9c9;
    --complementary-4: #464646;
}

* {
  margin: 0;
}

html, body{
  height: 100%;
  width: 100%;
  overflow: overlay;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--complementary-1);
  width: 100%;
}

header h1 {
  color: var(--secondary-color);
  padding-left: 10px;
  font-family: 'Inter', sans-serif;
  font-weight: 100;
  font-size: clamp(16px, 2vh, 40px);
}

header div{
  display: flex;
  flex-direction: row;
  padding-right: 30px;
}

header div h2 {
  padding-right: 30px;
  color: var(--secondary-color);
  font-family: 'Inter', sans-serif;
  font-weight: 100;
  font-size: clamp(16px, 2vh, 40px);
  transition: text-shadow 0.3s ease;
}

/* hover effect */
header div h2:hover {
  text-shadow: rgb(65, 65, 65) 3px 3px 3px;
  cursor: pointer;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div h1, h2 {
  padding: 10px 10px 10px 10px;
}
/* End of Header */

/* toolbar */
.toolbar {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 100%;
  border-bottom: var(--complementary-3) 1px solid;
  border-top: var(--complementary-3) 1px solid;
}

.toolbar button {
  background-color: var(--secondary-color);
  color: var(--complementary-4);
  font-family: 'Inter', sans-serif;
  font-weight: 100;
  font-size: 1.15em;
  padding: 5px 20px 5px 20px;
  margin: 0 10px 0 10px;
  border-bottom: 2px solid var(--secondary-color);
  border-top: none;
  border-left: none;
  border-right: none;
  cursor: pointer;
}

.toolbar button:hover {
  color: var(--complementary-1);
  border-bottom: 2px solid var(--complementary-1);
}


/* end of toolbar */

/* Main Body */
.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  height: 100%;
  width: 100%;
}

/* style for each column */
.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95%;
  margin-left: 1rem; 
  margin-right: 1rem;
}

/* style the main (left) column */
#main-col {
  width: 100%;
}

/* style the tool (right) column */
#tool-col {
  width: 50%;
}

/* style the plots container */
.plots {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-bottom: 30px;
}

/* style the cards */
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  background-color: var(--secondary-color);
  box-shadow: 0 3px 6px var(--complementary-2);
}

.card h3 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 1.25em;
  color: var(--complementary-2);
  padding-top: 10px;
}

/* style the algorithm card */
#alg-card {
  width: 100%;
  height: 100%;
}

/* style the plot cards */
.card.plot {
  height: 100%;
}

.card.plot:first-child {
  margin-right: 1rem;
}

.card.plot:last-child {
  margin-left: 1rem;
}

.card-title-container {
  flex-direction: row; /* Make sure to use flex */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
  width: auto; /* Ensure it takes only the needed width */
}

/* style the process log card */
#process-log.card {
  height: 50%;
  width: 100%;
}

/* end of main body */